{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calendarios list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Turno</th>
                <th>Colectivoid</th>
            </tr>
        </thead>
        <tbody>
        {% for calendario in calendarios %}
            <tr>
                <td><a href="{{ path('calendario_show', { 'id': calendario.id }) }}">{{ calendario.fecha|date('Y-m-d') }}</a></td>
                <td>{{ calendario.turno == 0 ? 'Mañana' : 'Tarde' }}</td>
                <td>{{ calendario.colectivo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('calendario_new') }}">Create a new calendario</a>
        </li>
    </ul>
{% endblock %}
