{% extends 'base.html.twig' %}

{% block body %}
  <div class="cafeta">

      <h1>Cierre de caja</h1>
      {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-md-2">
                {{ form_row(edit_form.fecha, { 'attr': {'autocomplete': 'off'} }) }}
            </div>
            <div class="col-md-8">
                {{ form_row(edit_form.colectivo) }}
            </div>
            <div class="col-md-2">
                {{ form_row(edit_form.inicial) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(edit_form.final) }}
            </div>
            <div class="col-md-6">
                {{ form_row(edit_form.sobre) }}
            </div>
        </div>
        {{ form_widget(edit_form) }}

          <input type="submit" value="Cerrar caja del día" />
          {{ form_end(edit_form) }}

    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('admin_diario_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}
  </div>
{% endblock %}
