{% extends 'base.html.twig' %}

{% block body %}
    <h3>Cierre de caja</h3>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.fecha, { 'attr': {'autocomplete': 'off'} }) }}
            </div>
            <div class="col-md-3">
            {{ form_row(form.turno) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.colectivo) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                {{ form_row(form.inicial) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.final) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.sobre) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.observaciones) }}
            </div>
        </div>

        <button type="submit" class="btn btn-default">Guardar</button>
    {{ form_end(form) }}
    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('admin_diario_index') }}">Back to the list</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
