{% extends 'base.html.twig' %}

{% block body %}
  <div class="cafeta">

    {% if not stillOpen %}
      <h1>Caja cerrada</h1>
      Deja en el buzón el sobre, indicando la fecha del turno, el colectivo y la cantidad ({{ diario.sobre }} euros)
      <br>
      <a href="{{ path("logout")}}">Cierra la sesión</a> y no olvides cerrar todo, según el protocolo
      {% else %}
      <h1>Cierre de caja</h1>
      {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-md-2">
                {{ form_row(edit_form.fecha, { 'attr': {'autocomplete': 'off'} }) }}
            </div>
            <div class="col-md-8">
                {{ form_row(edit_form.colectivo) }}
            </div>
            <div class="col-md-2">
                {{ form_row(edit_form.inicial) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(edit_form.final, { 'disabled': not stillOpen }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(edit_form.sobre, { 'disabled': not stillOpen }) }}
            </div>
        </div>
        {{ form_widget(edit_form) }}

          <input type="submit" value="Cerrar caja del día" />
          {{ form_end(edit_form) }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('diario_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}
  </div>
{% endblock %}
