{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Diarios</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Inicial</th>
                <th>Final</th>
                <th>Responsable</th>
                <th>Colectivo</th>
            </tr>
        </thead>
        <tbody>
        {% for diario in diarios %}
            <tr>
                <td><a href="{{ path('diario_show', { 'id': diario.id }) }}">{{ diario.fecha|date('d/m/Y') }}</a></td>
                <td>{{ diario.inicial|number_format(2,',','.') }} €</td>
                <td>{{ diario.final|number_format(2,',','.') }} €</td>
                <td>{{ diario.responsable }}</td>
                <td>{{ diario.colectivo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
