{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cierre de caja {% if diario.fecha %}{{ diario.fecha|date('d/m/Y') }}{% endif %}</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Inicial</th>
                <th>Final</th>
                <th>Cantidad en sobre</th>
                <th>Entregado a</th>
                <th>Colectivo</th>
            </tr>
            <tr>
                <td>{{ diario.inicial }} €</td>
                <td>{{ diario.final }} €</td>
                <td>{{ diario.sobre }} €</td>
                <td>{{ diario.responsable }}</td>
                <td>{{ diario.colectivo }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('diario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('diario_edit', { 'id': diario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}
    <h3><a href="{{ path('diario_new')}}">Nuevo cierre de caja</a></h3>
{% endblock %}
